/* general */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --primary-color: white;
    --secondary-color: #23272A;
    --tertiary-color: #255EE9;
    --bg-gray: #F5F5F5; 
    --discord-color: #7289DA;
}
.bg-secondary-color{
    background-color: var(--secondary-color);
}
.bg-gray{
    background-color: var(--bg-gray);
}
.bg-discord-color{
    background-color: var(--discord-color);
}
.text-white{
    color: var(--primary-color);
}
/* .debug{
    border:1px solid black;
} */
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}
a{
    color: var(--primary-color);
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
button{
    padding: 12px;
    border-radius: 20px;
    box-shadow: none;
    border: none;
}
/* header */
header{
    background-color: var(--tertiary-color);
}
#download header{
    background-color: var(--secondary-color);
}
/* nav nel header  */
nav{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px ;
    flex-wrap: wrap;
    padding: 15px 0;
}
nav ul{
    display: flex;
    gap: 25px;
}
/* hero nel header   */
#hero{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    text-align: center;
}
#hero p,
#jumbotron p{
    padding: 25px;
    line-height: 28px;
}
#title{
    font-size: 70px;
    line-height: 70px;
    word-wrap: break-word;
}
header #hero .container{
    padding: 110px 150px 110px;
}
header #jumbotron .container{
    padding: 110px 0px 110px;
}
#hero button,
#jumbotron button:first-of-type{
    margin-right: 40px;
    padding: 18px 35px;
    border-radius: 30px;
    font-size: 20px;
}
/* jumbotron */
#jumbotron .container{
    display: flex;
    flex-flow:row wrap;
}
.jumbotron-text{
    width: 50%;
    min-width: 500px;
}
.jumbotron-img{
    width: 50%;
}
.jumbotron-img img{
    width: 100%;
    min-width: 600px;
    object-fit: cover;
}
/* main  */
.main-container-flex{
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 25px;
}
/* img  */
section img{
    width: 60%;
}
/* text  */
.section-text{
    align-self: center;
    flex-basis: calc(100% /3);
}
.title-section{
    padding-bottom: 20px;
    font-size: xx-large;
    line-height: 40px;
}
/* alternative  */
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.wave{
    width: 100%;
    display: block;
    opacity: 0.04;
}
.reverse{
    transform: rotate(180deg);
}
/* last section  */
.text-center{
    text-align: center;
}
.big-img{
    width: 100%;
}
.download-button-text{
    display: inline-block;
    padding: 30px;
    font-weight: bold;
    background-image: url("../img/stars.svg");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: larger
}
main section:last-child button:last-child{
    margin: 30px;
}
/* footer  */
footer .container{
    padding: 30px 0 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-gray);
}
#language-social-section{
    width: 20%;
    padding: 10px;
}
#language-social-section h3{
    padding-bottom: 10px;
}
#ita-img{
    width: 20px;
}
#social-icons{
    padding-top: 10px;
    color: var(--primary-color);
}
#social-icons i{
    padding-right: 15px;
}
footer div.container>ul{
    width: 20%;
    padding: 10px;
    padding-bottom: 20px;
    line-height: 30px;
}
footer ul li:first-of-type a{
    color: var(--discord-color);
}
footer ul li:first-of-type{
    padding-bottom: 15px;
}


