/* general */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --primary-color: white;
    --secondary-color: #23272A;
    --tertiary-color: #255EE9;
    --bg-gray: #F5F5F5;
    --discord-color: #7289DA;
}
.debug{
    border:1px solid black;
}
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}
/* header */
header{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}